---
import { getCollection } from "astro:content";
import { GoArrowLeft } from "react-icons/go";
import { GoArrowRight } from "react-icons/go";
import { getLastEditTime } from "../utils/getLastEditTime";
import manifest from "../../package.json";

export interface Props {
  id?: string;
}

const { id } = Astro.props as Props;

const pages = (await getCollection("learn"))
  .map(({ id, data, collection }) => ({
    id,
    title: data.title,
    number: parseInt(`${data.chapterNumber}${data.part}`, 10),
    slug: `/${collection}/${id}`
  }))
  .sort((a, b) => a.number - b.number);

const currentPage = pages.findIndex((page) => page.id === id);
const prevPage = currentPage > 0 ? pages[currentPage - 1] : null;
const nextPage = currentPage < pages.length - 1 ? pages[currentPage + 1] : null;
const lastEditTime = await getLastEditTime({
  repo: manifest.name,
  owner: `saeris`,
  path: `src/content/learn/${id}`,
  token: `Bearer ${import.meta.env.LASTEDIT_TOKEN}`
});
---

<script>
  import { navigate } from "astro:transitions/client";

  window.addEventListener("keydown", (event) => {
    if (event.getModifierState("Shift")) {
      const prevPage = document.querySelector(`a.prev`)?.getAttribute("href");
      if (event.code === "ArrowLeft" && prevPage) navigate(prevPage);
      const nextPage = document.querySelector(`a.next`)?.getAttribute("href");
      if (event.code === "ArrowRight" && nextPage) navigate(nextPage);
    }
  });
</script>

<style is:global>
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    padding-block: 24px 48px;
    padding-inline: 24px;
    color: var(--cn-700);
    font-family: var(--family-display);
    font-size: var(--ll);

    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      width: stretch;
      padding-top: 24px;
      border-top: 1px solid var(--cn-200);

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        width: stretch;
        padding-block: 16px;
        padding-inline: 24px;
        background-color: var(--fill);
        border: 1px solid var(--stroke);
        border-radius: 8px;
        box-shadow: 0px 0px 0px 2px var(--shadow);
      }
    }

    a {
      --fill: transparent;
      --stroke: var(--cn-a200);
      --text: var(--cn-a700);
      --shadow: transparent;

      &:hover {
        --fill: var(--cn-a25);
        --stroke: var(--cn-a300);
        --text: var(--cp-a800);
      }

      &:focus-visible {
        --stroke: var(--cp-a500);
        --shadow: var(--cp-a300);
        outline: none;
      }

      &:visited {
        color: var(--text);
      }

      color: var(--text);
      text-decoration: none;

      &.prev {
        grid-column: 1;

        > div {
          margin-left: calc(1em + 12px);

          svg {
            left: calc(-1em - 12px);
          }
        }
      }

      &.next {
        grid-column: 2;
        align-items: flex-end;

        > div {
          margin-right: calc(1em + 12px);

          svg {
            right: calc(-1em - 12px);
          }
        }
      }

      > div {
        position: relative;
        font-size: var(--bt);
        font-weight: 300;

        svg {
          position: absolute;
          top: 0.13em;
          width: 1em;
          height: 1em;
        }
      }

      > span {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: var(--lm);
        font-weight: 200;
      }
    }
  }
</style>

<footer>
  {
    lastEditTime ? (
      <a href={lastEditTime.url} target="_blank">
        {`Last updated on ${new Intl.DateTimeFormat("en-US").format(lastEditTime.date)}`}
      </a>
    ) : null
  }
  <nav>
    {
      prevPage && (
        <a class="prev" href={prevPage.slug}>
          <div>
            <GoArrowLeft />
            {prevPage.title}
          </div>
          <span>
            {`Previous `}
            <span class="kbd-group">
              <kbd>shift</kbd>
              <kbd>&lt;-</kbd>
            </span>
          </span>
        </a>
      )
    }
    {
      nextPage && (
        <a class="next" href={nextPage.slug}>
          <div>
            {nextPage.title}
            <GoArrowRight />
          </div>
          <span>
            {`Next `}
            <span class="kbd-group">
              <kbd>shift</kbd>
              <kbd>-&gt;</kbd>
            </span>
          </span>
        </a>
      )
    }
  </nav>
</footer>
